@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Ubuntu:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  color: white;
  font: 300 20px "Ubuntu", sans-serif;
}

body {
  background-color: #1b3664;
}

.flex-container {
  height: 100vh;
  width: 100vw;
  display: flex;
}

aside {
  width: 15vw;
  padding: 30px 10px;
  border-right: 1px dashed #fff;
}

h1 {
  margin-bottom: 30px;
  font-size: 20px;
  text-align: center;
}

h2 {
  margin-bottom: 15px;
  font-size: 18px;
}

ul {
  padding-left: 20px;
  list-style: none;
}

a {
  font-size: 16px;
  line-height: 2em;
  text-decoration: none;
}

iframe {
  width: 80vw;
  height: 100vh;
  padding-left: 50px;
}
