@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Ubuntu:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  color: white;
  font: 300 16px "Ubuntu", sans-serif;
}

body {
  background-color: #2a3035;
}

a {
  text-decoration: none;
}

.fs-22 {
  font-size: 22px;
}

/* .fs-20 {
  font-size: 20px;
} */

.fs-18 {
  font-size: 18px;
}

/* .fs-17 {
  font-size: 17px;
} */

.fs-14 {
  font-size: 14px;
}

.ls-circle {
  list-style: circle;
}

.fs-i {
  font-style: italic;
}

#sidebar-nav {
  width: 15vw;
  height: 100%;
  padding: 10px;
  border-right: 1px dashed #fff;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  background-color: #1b3664;
}

.lang-container {
  height: 20px;
  margin-bottom: 20px;
}

#lang {
  float: right;
}

#lang:hover {
  color: #0278e0;
}

#logo {
  text-align: center;
  margin: 2em auto;
}

#sidebar-nav > h2 {
  margin-bottom: 1em;
}

#nav-links {
  padding-left: 20px;
}

#nav-links > li {
  line-height: 2em;
}

#nav-links > li > a:hover,
#resources-links > li > a:hover {
  color: #0278e0;
}

#resources-links > li > a:hover + span {
  color: greenyellow;
}

#resources-links > li > span {
  float: right;
}

#main {
  margin-left: calc(15vw + 41px);
}

#content {
  line-height: 2em;
  padding: 90px;
  padding-right: 270px;
  /* height: 100vh; */
}

/* id = week-1 */
#content > h1 {
  margin-bottom: 2em;
  font-weight: 500;
}

#content > h2 {
  line-height: 2em;
  font-size: 18px;
}

#content > p {
  margin-top: 2em;
}

#content > #iframe-button {
  background-color: darkred;
  color: greenyellow;
  line-height: 1.5em;
  padding: 5px;
  border-radius: 15px;
  font-weight: 400;
}

#content > ol,
#content > ul {
  margin-top: 2.5em;
  padding-left: 50px;
}

#content > ol > li,
#content > ul > li {
  line-height: 2em;
}

/* iframe {
  width: 100%;
  height: 100vh;
  padding: 8px;
  padding-left: 25px;
} */
